aiohttp
aiosignal
asgiref
asttokens
async-timeout
attrs
autopep8
backcall
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
click
cryptography
decorator
defusedxml
diff-match-patch
Django
django-allauth
django-ckeditor
django-csp
django-crispy-forms
django-debug-toolbar
django-import-export
django-js-asset
django-mptt
django-recaptcha3
django-user-agents
et-xmlfile
exceptiongroup
executing
frozenlist
gunicorn
h11
idna
ipython
ipython-genutils
jdcal
jedi
lxml
MarkupPy
matplotlib-inline
multidict
oauthlib
odfpy
openpyxl
packaging
parso
pep8
pexpect
pickleshare
Pillow
prompt-toolkit
psycopg2
ptyprocess
pure-eval
pycodestyle
pycparser
Pygments
PyJWT
python-decouple
python-dotenv
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
soupsieve
sqlparse
stack-data
stripe
tablib
toml
tomli
traitlets
typing_extensions
ua-parser
urllib3
user-agents
uvicorn
wcwidth
xlrd
xlwt
yarl
python-dotenv
